#price_grid > * {
  text-align: center;
  background-color: gray;
}
img {
  height: 200px;
  display: none;
}

#price_grid > * {
  text-align: center;
  background-color: gray;
}

#top_currency_list {
  background-color: gray;
  border-radius: 5px;
}

#marketCap {
  min-height: 375px;
}

.carasouel-caption > * {
  width: 100%;
}
